.carousel {
    margin: auto;
    width: 30%;
    height: 30%;
}
.carousel-inner > .item > img {
    width: 30%;
    height: 30%;
}

.carousel-caption {
    position: absolute;
    top: 80%;
    transform: translateY(-100%);
    padding: 0.4rem 1.5rem;
    color: #FFF;
}

.widget-home > .button {
    margin-top: 1%;
}

.info > p{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}